.title h1 {
    padding-right: 20px;
    font-size: 26px !important;
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login {
    background-image: url(../assets/bg-app.jpeg);
    opacity: .88;
    height: 100%;
}

.title-app {
    position: absolute;
    z-index: 999;
    width: 100%;
    transform: translateY(15em);
    align-content: center;
    justify-content: center;
}

.title-app h1 {
    font-size: 4em;
}

.main-menu {
    position: absolute;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bg-app.jpeg);
    opacity: .88;
}


.main-menu a {
    opacity: 1 !important;
    text-decoration: none;
    border-radius: 5px;
    background: #ffa800 !important;
    font-size: 20px;
    padding: 20px;
    margin-right: 1em;
}

.btn-dangers {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 16px;
    margin-left: 1em;
    font-size: 20px;
}

.card-login {
    padding: 2em;
    transform: translateY(6em);
    box-shadow: 2px 2px 5px black;
    border-radius: 5px !important;
}

form button.btn-danger:hover {
    background: rgb(255, 171, 171) !important;
    color: #dc3545;
    transition: .5s ease-in-out;
    border: 2px solid #dc3545;
    
}

.main-menu a:hover {
    color: #ffa800 !important;
    background-color: #fff !important;
    transition: .5s ease-in-out;
    border: 2px solid #ffa800;

}

.main-book {
    position: relative;
}